.win {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ff0077;
}
.loss {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
.prib {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #770077;
}
.roy {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #0000ff;
}
